.no-dec {text-decoration: none !important;}
.no-dec:hover {text-decoration: none !important;}
.no-dec:link {text-decoration: none !important;}
.dropdown-propic-nav {position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(-110px, 0px);}

.cursore{
    cursor: pointer;
}

.separatore {
    color: rgba(108,117,125,0.79);
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    --text-divider-gap: 1rem;
}

.separatore::before,
.separatore::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1;
}

.separatore::before {
    margin-right: var(--text-divider-gap);
}

.separatore::after {
    margin-left: var(--text-divider-gap);
}

.add-file {
    cursor: pointer;
}

.main-container {
    min-height: 60vh;
}

.template{
    width: 100%;
    border-bottom: solid;
    overflow: hidden;
    border-bottom-color: gray;
    margin-bottom: 25px;
}

.name{
    width: 70%;
    float: left;
}

.senda{
    background: none;
    text-decoration-color: red;
    border-color: red;
    border-radius: 25px;
}

.sendn{
    background: none;
    text-decoration-color: green;
    border-color: green;
    border-radius: 25px;
}

.senda:hover{
    background: red;
    text-decoration-color: white;
}

.sendn:hover{
    background: green;
    text-decoration-color: white;
}

.send{
    position: relative;
    float: left;
    width: 30%;
    overflow: hidden;
}

.container-ricerca{
    border: solid;
    border-radius: 25px;
    border-color: gray;
    margin-bottom: 10px;
}